.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background: linear-gradient(rgba(227, 227, 227, 0.26), rgba(208, 208, 208, 0.347)),
    url("../../public/images/bg_home_page.png") center/cover no-repeat;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1 {
    font-size: 3em;
    color: #ff8f26;
    text-shadow: -2px -2px 2px black,
    2px -2px 2px black,
    -2px 2px 2px black,
    2px 2px 2px black;
}

.subtitle {
    font-size: 1.4em;
    color: #222;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    margin: 20px;
    letter-spacing: 0.5px;
}

.join-game-button, .copy-button, .start-button {
    padding: 14px 32px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    margin: 15px;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.join-game-button {
    background: linear-gradient(90deg, #ff9900, #ffcc00);
    color: white;
    box-shadow: 0px 0px 10px rgba(255, 153, 0, 0.8);
}

.join-game-button:hover {
    transform: scale(1.08) rotate(2deg);
    box-shadow: 0px 0px 20px rgba(255, 153, 0, 1);
}

.copy-button {
    background: rgba(50, 50, 50, 0.8);
    color: white;
    border: 2px solid #ffcc00;
}

.copy-button:hover {
    background: rgba(60, 60, 60, 0.9);
    transform: scale(1.1);
}

.copy-button.copied {
    background-color: #34b233;
    border-color: #28a745;
}

.start-button {
    background: linear-gradient(90deg, #ffcc00, #ffaa00);
    color: #222;
}

.start-button:hover {
    background: linear-gradient(90deg, #ffaa00, #ff8800);
    transform: scale(1.08);
    box-shadow: 0px 0px 15px rgba(255, 136, 0, 0.7);
}

.game-code {
    margin: 20px;
    padding: 12px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    border-radius: 12px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.game-code-text {
    font-weight: bold;
    font-size: 1.5em;
    color: #ffcc00;
}

.game-input {
    padding: 10px;
    font-size: 1.2em;
    border: 2px solid #ffcc00;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    margin-bottom: 10px;
}

.game-input:focus {
    outline: none;
    border-color: #ff9900;
}

.shifu-button {
    font-size: 18px;
    padding: 12px 18px;
    font-weight: bold;
    background-color: #ffcc00;
    border: 2px solid #ff9900;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.2s ease-in-out;
}

.shifu-button:hover {
    background-color: #ffaa00;
    border-color: #ff7700;
    transform: scale(1.1);
}

.shifu-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
